<!DOCTYPE html>
<html lang="en">
    <head>	    
        <title>Seppo - Demo 6</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Template by CocoBasic">
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP">
        <meta name="author" content="CocoBasic">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="images/favicon.ico">  
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet" >  
        <link rel="stylesheet" href="css/style.css" >        
    </head>
    <body>
        <div class="doc-loader"></div>

        <!-- Start Coming -->
        <section class="coming" id="main-content">
            <div class="container">
                <div class="coming-holder">
                    <div class="coming-text">
                        <a href="index.html" class="header-logo">
                            <img src="images/logo.png" alt="Logo">
                        </a>
                        <h1>
                            Art studio from <span class="main-color">New York</span> passionate about creativity and crafting since 1963.
                        </h1>
                        <p class="caption">coming soon</p>
                        <span class="count-down" id="count-down" data-end="2024, 7, 30">000D / 00H / 00M / 00S</span>

                        <form class="coming-form">
                            <input type="text" placeholder="Enter your email address to subscribe...">
                            <button class="btn-filled">subscribe</button>
                        </form>
                    </div>
                    <div class="coming-image main-color-hover">
                        <div class="img-box">
                            <img src="images/girl.gif" alt="Preview">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Coming -->

        <!-- Start Decorate Shapes -->    
        <div class="bubbles-shape">
            <img src="images/bubbles.png" alt="Bubble">
        </div>
        <!-- End Decorate Shapes -->

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src="js/main.js"></script>
    </body>
</html>
