<!DOCTYPE html>
<html lang="en">
    <head>	    
        <title>Seppo - Demo 5</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Template by CocoBasic">
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP">
        <meta name="author" content="CocoBasic">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="images/favicon.ico">  
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="css/style.css">        
    </head>
    <body>
        <div class="doc-loader"></div>  

        <!-- Start Header -->
        <header>
            <div class="container">
                <nav>
                    <a href="index.html" class="header-logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </nav>
            </div>
        </header>
        <!-- End Header -->

        <!-- Start Coming -->
        <section class="coming" id="main-content">
            <div class="container">
                <div class="coming-holder">
                    <div class="coming-text">
                        <h1>
                            Work <br>
                            in Progress
                        </h1>
                        <div class="wave-image"></div>
                        <p class="subtitle">coming soon</p>

                        <form class="coming-form">
                            <img class="arrow" src="images/arrow.png" alt="arrow">            
                            <input id="email" type="text" placeholder="Enter your email address to subscribe..." >
                            <button class="btn-filled">subscribe</button>
                        </form>
                    </div>
                    <div class="coming-image">
                        <div class="img-box">
                            <img src="images/preview.png" alt="Preview">
                        </div>
                        <div>
                            <h4>Jacob Hawkings</h4>
                            <p class="subtitle">CEO</p>
                            <p class="body">
                                A full stack all around
                                <b>designer</b> that may or may not include a guide for specific
                                creative potential methods who framing and evaluating moves.
                            </p>
                            <div class="coming-links">
                                <a href="#" class="caption">LINKEDIN</a>
                                <a href="#" class="caption">TWITTER</a>
                                <a href="#" class="caption">INSTAGRAM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Coming -->

        <!-- Start Decorate Shapes -->
        <div class="bg-shape-1"></div>
        <div class="bg-shape-2"></div>    
        <!-- End Decorate Shapes -->

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src='js/main.js'></script>
    </body>
</html>
