<!DOCTYPE HTML>
<html lang="en">
    <head>        
        <title>Seppo - Demo 3 Single Portfolio</title>        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="CocoBasic">
        <meta name="description" content="Template by CocoBasic">        
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP"> 
        <link rel="shortcut icon" href="images/favicon.ico">    

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Plugins -->
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">

        <!-- Main CSS Files -->
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/style.css">        
    </head>

    <body class="single-portfolio">


        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- - - - -->

        <!-- Start Header -->
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="index.html" class="new-page-link">Home</a></li>
                        <li><a href="index.html#about" class="new-page-link">About</a></li>
                        <li><a href="index.html#portfolio" class="new-page-link">Portfolio</a></li>
                        <li><a href="index.html#cover-letter" class="new-page-link">Cover Letter</a></li>
                        <li><a href="index.html#skills" class="new-page-link">Skills</a></li>
                        <li><a href="index.html#education" class="new-page-link">Education</a></li>
                        <li><a href="index.html#facts" class="new-page-link">Facts</a></li>
                        <li><a href="index.html#experience" class="new-page-link">Experience</a></li>
                        <li><a href="index.html#contact" class="new-page-link">Contact</a></li>
                        <li><a href="blog.html" class="new-page-link">Blog</a></li>
                    </ul>
                </nav>
                <button class="menu-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="side-left">
                    <a class="logo" href="index.html">ANNA PETERSON</a>
                    <ul class="social-side-left">
                        <li><a href="https://www.linkedin.com/">LI.</a></li>
                        <li><a href="https://twitter.com/">TW.</a></li>
                        <li><a href="https://www.linkedin.com/">IN.</a></li>
                        <li><a href="https://www.facebook.com/">FB.</a></li>
                    </ul>
                </div>
            </div>
        </header>              

        <div id="content" class="site-content center-relative">       
            <div class="portfolio-item-wrapper center-relative">
                <div class="portfolio-content">                        
                    <h1>PHOTO SESSION</h1>
                    <p class="info">
                        Two ghostly white figures in coveralls and helmets are softly dancing lorem ipsum.
                    </p>
                    <p>
                        Cras pretium metus pulvinar ultricies auctor. In varius purus blandit sem mollis tristique. Curabitur sed lorem vel ligula pulvinar porttitor. Proin sit amet mauris eleifend amet, ullamcorper lacus vangelis rich in heavy atoms.
                    </p>
                    <br>
                    <p>
                        <img src="images/p_item_04.jpg" alt="Portfolio image">
                    </p>
                    <br>
                    <p>
                        Cras pretium metus pulvinar ultricies auctor. In varius purus blandit sem mollis tristique. Curabitur sed lorem vel ligula pulvinar porttitor proin.
                    </p>
                    <br>
                    <img src="images/p_item_06.jpg" alt="Portfolio image">
                    <br>
                    <p>
                        Veleifend amet, ullamcorper lacus vangelis rich in heavy atoms descended from astronomers dream of the mind’s cras pretium metus pulvinar.
                    </p>

                    <div class="clear"></div>
                </div>                        
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer-content center-relative">
                <div class="social-holder">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook-square"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-dribbble"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-rss"></span>
                    </a>
                </div>
                <div class="copyright-holder">                   
                    &copy; 2023 Seppo HTML5 Theme by <a href="https://www.cocobasic.com/">CocoBasic</a>
                </div>
            </div>
        </footer>        


        <!-- JS Files -->
        <script src="js/jquery.js"></script>
        <script src="js/jquery.appear.js"></script>        
        <script src='js/jquery.fitvids.js'></script>                
        <script src='js/isotope.pkgd.js'></script>                
        <script src='js/jquery.prettyPhoto.js'></script>                
        <script src="js/imagesloaded.pkgd.js"></script>
        <script src='js/owl.carousel.min.js'></script>                                                         
        <script src="js/main.js"></script>
    </body>
</html>